[data-theme='dark'] body {
  background-color: #121212;
  color: #e0e0e0;
}

[data-theme='dark'] .card {
  background-color: #1e1e1e;
}

a.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

a.card-link .card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}


a.card-link:hover .card {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
